<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Atenção</ion-card-subtitle>
      <ion-card-title>Aviso Importante</ion-card-title>
    </ion-card-header>
    <ion-card-content>As informações exibidas por este aplicativo/página web, são de caráter meramente informativo.<br><br>Para consultar valores oficiais, por favor consulte um agente bancário, ou casa de câmbio mais próxima.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Converte</ion-card-subtitle>
        <ion-card-title>Como Nasce Um Aplicativo</ion-card-title>
      </ion-card-header>
        <ion-card-content>
          <p>Aplicativo para Conversão de Moeda Criado a partir da necessidade de fazer cotações rápidas, eu utilizava uma planilha, atualizando a cotação do dolar turismo manualmente. Desenvolvido em conjunto com outro colega de trabalho, que ajudou na inteligência da aplicação. Eu mantenho o código atualizado, e ajudo na concepção de novas ideias para implementações futuras.</p>
        </ion-card-content>
  </ion-card>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];
  a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-114873381-1', 'auto');
    ga('send', 'pageview');
  
  </script>
</ion-content>
